.App {
  text-align: center;
  font-family: "Grinched 2.0", sans-serif;
  /* font-family: "Century Gothic", sans-serif; */
  /* font-family: "PT Sans", sans-serif; */
}
@font-face {
  font-family: "gothicb";
  src: url("/src/assets/century-gothic/Century\ Gothic.ttf");

  src: url("/src/assets/century-gothic/gothicb.ttf");
}
/* @font-face {
  font-family: "gothicb";
  src: url("/src/assets/century-gothic/Century\ Gothic.ttf");

  src: url("/src/assets/century-gothic/gothicb.ttf");
} */
